@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
#body{
    font-family: "Product Sans", Times, serif;
    background: black;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
    background-color: black;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: crimson;
}

/* Header section */
#header {
	position: fixed;
    background: black;
  min-height: 10vh;
  width: 10%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 0.5rem;
  z-index: 2;
  backdrop-filter: blur(15rem);
  display: flex;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: .3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */


/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
    }
    
/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */
    #hero {
	background-image: url(C:/Users/91866/Desktop/Project/Website/Logo/Stock%20bg2.jpg);
	background-size: cover;    
	background-position: top center;
	position: relative;
	z-index: 1;
    color: white;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
    color: white;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
    z-index: 5;
    background-image: blur(5px);
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name .5s ease forwards;
	animation-delay: 3s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: .5s;
}
#hero h1:nth-child(1) span {
	animation-delay: .5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}
    .cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
        color: white;
       text-align: center;
		font-size: 7rem;
        background-color: rgba(255, 255, 255, .0);  
 backdrop-filter: blur(5px);
        border-color: transparent;
        z-index: auto;
	}
    #hero h2 {
 backdrop-filter: blur(5px);
        border: none;   
        align-content: center;
		font-size: 4.5rem;
        background: linear-gradient(to right, #fe8c00,#f83600);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	}
    .brand-container{
        border-radius: 15px;
        background-image: linear-gradient(to left,#fbc2eb,#a6c1ee);
    font-family: "Product Sans", Times, serif;
    flex-direction: column;
	text-align: center;
	max-width: 1600px;
	margin: 0 auto;
    margin-top: 0.1%;
	padding: 100px 0;
    }
    
    .brand-container h2{
        font-size: 40px;  
	   background: linear-gradient(to right, #f12711,#f5af19);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    }
    .brand-container .sbi{
        border-radius: 10px;    
         margin-top: 5%;
    margin-left: 6%;
       width: 250px;
        height: 170px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        
    }
    .brand-container .sbi:hover{
   -webkit-transform: scale(1.5);
	transform: scale(1.1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
    .brand-container .tata{
        border-radius: 10px;
         margin-top: 0.6%;
    margin-left: 7%;
       width: 240px;
        height: 170px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
    .brand-container .tata:hover{
   -webkit-transform: scale(1.5);
	transform: scale(1.1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
    .brand-container .itc{
        border-radius: 10px;
         margin-top: 0.6%;
    margin-left: 7%;
       width: 250px;
        height: 170px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        
    }
    .brand-container .itc:hover{
   -webkit-transform: scale(1.5);
	transform: scale(1.1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
    .brand-container .info{
        border-radius: 10px;
         margin-top: 0.6%;
        margin-right: 7%;
    margin-left: 7%;
       width: 230px;
        height: 170px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        
    }
    .brand-container .info:hover{
   -webkit-transform: scale(1.5);
	transform: scale(1.1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
    .brand-container .tcs{
        border-radius: 10px;
         margin-top: 5%;
    margin-left: 10%;
       width: 250px;
        height: 170px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        
    }
    .brand-container .tcs:hover{
   -webkit-transform: scale(1.5);
	transform: scale(1.1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
    .brand-container .air{
        border-radius: 10px;
         margin-top: 5%;
    margin-left: 7%;
        margin-right: 10%;
       width: 250px;
        height: 170px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        
    }
    .brand-container .air:hover{
   -webkit-transform: scale(1.5);
	transform: scale(1.1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
    .brand-container2{
        border-radius: 15px;
        align-content: center;
    background-image: linear-gradient(to right, #fbc2eb,#a6c1ee);
    font-family: "Product Sans", Times, serif;
    flex-direction: column;
	text-align: center;
	max-width: 1600px;
	margin: 0 auto;
    margin-top: 0.1%;
	padding: 100px 0;
    }
    
    .brand-container2 h2{  
        background: linear-gradient(to right, #f12711,#f5af19);
	-webkit-background-clip: text;
        font-size: 40px;    
	-webkit-text-fill-color: transparent;
        
    }
    .brand-container2 .app{
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 1%;
    width: 180px;
    height: 170px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        
    }
    .brand-container2 .app:hover{
   -webkit-transform: scale(1.5);
	transform: scale(1.1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
    .brand-container2 .goog{
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 1%;
    width: 250px;
    height: 170px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;    
    }
    .brand-container2 .goog:hover{
   -webkit-transform: scale(1.5);
	transform: scale(1.1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
    .brand-container2 .net{
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 1%;
    width: 250px;
    height: 170px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;    
    }
    .brand-container2 .net:hover{
   -webkit-transform: scale(1.5);
	transform: scale(1.1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
    .brand-container2 .tes{
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
    width: 190px;
    height: 170px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;    
    }
    .brand-container2 .tes:hover{
   -webkit-transform: scale(1.5);
	transform: scale(1.1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
    .brand-container2 .mic{
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 3%;
    width: 250px;
    height: 170px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;    
    }
    .brand-container2 .mic:hover{
   -webkit-transform: scale(1.5);
	transform: scale(1.1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
    
#dis{
    font-family: "Product Sans", Times, serif;
	width: 100%;
    border-radius: 10px;
    font-size: 25px;
    color: crimson;
    background-color: black;
    top:10%;
    padding: 30px;
	width: 100%;
	z-index: -1;
    font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
    border-bottom: 5px white;
}
    .Disclaimer p{
        color: white;
        font-family: "Product Sans", Times, serif;
        
    }
    
    
    
    
